.ip-146-white-label {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.ip-146-dgrey-label {
  color: #424242;
  font-size: 15px;
  font-weight: bold
}

.ip-51dar-label-small {
  color: #424242;
  font-size: 11px;
  font-weight: bold
}
