
.ip146whitelabel {
	color: white;
	font-size: 15px;
	font-weight: bold;
}

.ip146dgreylabel{
    color: #424242;
    font-size: 15px;
    font-weight: bold
}

.ip51darlabelsmall {
    color: #424242;
    font-size: 11px;
    font-weight: bold	
}

.madvnotselected {
	background-color: #E0E0E0;
	border : 1px solid darkgrey;
}

.madvselected {
	background-color: lightblue;
	border : 1px solid darkgrey;
}

.ybarscale {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE 5.5+*/
	-moz-opacity: 0.7; /* Mozilla 1.6  */
	-khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

/*************************************/
.hdelim {
background-color: #AAAAAA;
}

.gwtsliderbarlabel {
    color: black;
    font-size: 36px;
    font-weight: bold		
}

.demobottompanel {
 font-size: x-small;
}

.interractivescalepanel {
	border : 1px solid darkgrey;
}

.interractivepanel {
 background-color:  #E7E7E7;
} 	

.interractivetittle {
 font-weight:bold;
 font-size: large;
}

.demosettitle{
 font-weight:bold;
 font-size: large;		
}	

.descriptionpanel {
 background-color:  #eeeeCC;
 /*border : 1px solid darkgrey;*/
 border-width: 1px;
 border-color: #AAAAAA;;
 border-style: solid;
 
}

.demosetpanel {
 background-color:  #F8F8F8 ;
/* border : 1px solid darkgrey;*/
 border-width: 1px;
 border-color: #AAAAAA;;
 border-style: solid;  
}

.mailme {
  color : #7F7F7F;
  font-style:italic;
  font-weight:bold;	
}	
